<html>
  <head>
    <title> Battle </title>
  </head>
  <body>
    <h1>Battle</h1>
    <p><%= $player1.name %> vs. <%= $player2.name %></p>
    <p>Hit points Player 1: <%= $player1.points %> </p>
    <p>Hit points Player 2: <%= $player2.points %></p>
    <% if session[:last_action] %>
      <br>
      <p><%= session[:last_action] %></p>
    <% end %>
    <br>
    <form action="/p1_attacks" method="post">
      <input type="submit" value="Player 1 attacks" />
    </form>
  </body>
</html>
